{% extends 'base.html' %}
{% block content %} 
{% load static %}

<h1 class="text-center">About</h1>
<div class="container">
  <div
    class="card mx-auto h-100 border-secondary p-1 shadow"
    style="width: 400px"
  >
    <div class="card-body text-center">
    <img src="" class="card-img-top" alt="photo">
        <h3>Hi, I'am Betul</h3>
      <p class="card-text">I'm a hard-working full-stack developer from Turkey.
        I am an individual with a keen eye for details,
        seeking to advance my growing tech career as a Software Developer and
        bringing my troubleshooting skills to engineer responsive solutions along with like-minded peers.</p></div>
        <div class="card-body ">
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Send email:<a href="">betulsmanav@gmail.com </a></li>
        <li class="list-group-item">My <a href="https://github.com/betulsmanav" target="_blank">Github</a></li>
        <li class="list-group-item">My <a href="https://www.linkedin.com/in/betul-sonmez-manav/" target="_blank">Linkedin</a></li>
      </ul>
      
    </div> 
    </div> 
      
      
      
    </div>
  </div>


{% endblock content %}